*{
	padding:0;
	margin:0;
  background-color: #000;
}

html{
	background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	font:16px/1.6 Arial,  sans-serif;
  background-color: #000;

}
.div2 img{
	float: right;
	width: 38%;
	margin-top: -4%;
	margin-left: -60%;
	opacity: 0.4;
 
}
.div2 .bio img{
	transform: translateX(-250%);
	opacity: 0.6;
}
.div2 .bio{
    
	display: inline-block;
	margin-left: 7%;
	padding: 0%;
	margin-top: 4%;
	margin-bottom: 8%;
	border:1px solid rgb(122, 122, 122);
	border-radius: 5%;
	padding:3% 9% 1% 17%;
	
}
.div2 .bio h1{
	font-size: 250%;
	color: rgb(0, 183, 255);
	margin-left: 10%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div2 .bio h2{
	font-size: 300%;
	color: rgb(180, 180, 180);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: 10%;
}
.div2 .bio h3{
	font-size: 250%;
	color: rgb(0, 183, 255);
	margin-left: 10%;
}
.div2 .bio p{
	font-size: 117%;
	margin-bottom: 5%;
	color: rgb(160, 160, 160);
	margin-left: 10%;
}





.card-text h1{
	font-size: 150%;
}


.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	padding-left: 5%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 82%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }





@media screen and (max-width: 500px){
   
	.div2 img{
	
	 width: 28%;
	
	 opacity: 0.4;
	 transform: translateY(4%);
	 transform: translateX(-18%);
	 border-bottom: 1px solid rgb(180, 180, 180);
	 border-left: 1px solid rgb(180, 180, 180);
	}
	.div2 .bio img{
		transform: translateX(-750%);
		opacity: 0.6;
	}
	.div2 .bio{
    
		display: inline-block;
		margin-left: 0%;
		padding: 0%;
		margin-top: 3%;
		margin-bottom: 2%;
		border:1px solid rgb(122, 122, 122);
		border-radius: 5%;
		padding:3% 9% 1% 1%;
		
	}
	.div2 .bio h1{
		font-size: 200%;
		color: rgb(0, 183, 255);
		margin-left: 10%;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	.div2 .bio h2{
		font-size: 200%;
		color: rgb(180, 180, 180);
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		margin-left: 10%;
	}
	.div2 .bio h3{
		font-size: 200%;
		color: rgb(0, 183, 255);
		margin-left: 10%;
	}
	.div2 .bio p{
		font-size: 97%;
		margin-bottom: 5%;
		color: rgb(160, 160, 160);
		margin-left: 10%;
	}
	.container #card{
		margin-left: 8%;
	}
	.container #cardd{
		margin-left: 4%;
	}
	.row .column img{
		margin-left: 7%;
	}
	
  }



@media screen and (max-width: 1000px){
	
	.div2 img{
		margin-top: 3%;
	}
	.div2 .bio{
		margin-left: 3%;
		margin-right: 5%;
		
	}
  }
