{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/indexx.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark  ">
        <a id="image" class="navbar-brand" href="#"><img width="280px" style="margin-top: 0px; " src="{% static 'images/aaa.png'%}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul style="margin-left: 16%;margin-top: 4%;" class="navbar-nav mr-auto">
            <li  style="padding-right: 45px;font-family:'poppins',sans-serif;"  class="nav-item active">
              <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li  style="padding-right: 45px;font-family:'poppins',sans-serif;"  class="nav-item">
              <a class="nav-link" href="{% url 'artwork' %}">GRAPHIC DESIGNS<span class="sr-only">(current)</span></a>
            </li>
            <li style="color: aliceblue; padding-right: 45px;font-family:'poppins',sans-serif;" class="nav-item">
              <a class="nav-link" href="{% url 'about' %}" >3D WORKS</a>
            </li>
            <li style="color: aliceblue; padding-right: 45px;font-family:'poppins',sans-serif;" class="nav-item">
              <a class="nav-link" href="{% url 'download' %}" >ABOUT</a>
            </li>
            
            
          </ul>
          <div class="div1">
          <h2 style="margin-bottom: 40px; font-family:'poppins',sans-serif;border-radius: 5px; border: 2px solid rgb(116, 108, 41);font-size: 14px;padding: 5px; color: aliceblue;margin-right: 20px;">
          <a style="text-decoration: none;color: rgb(196, 223, 247);" href="{% url 'contact' %}" >CONTACT</a></h2>
          
          </div>
         </div>
      </nav>
      <div class="div2">
        
        <div class="bio">
          <img  src="{% static 'images/profile.jpeg.jpg' %}" alt="">
          <h1>Athulraj Chakroth</h1>
          <h2>I'm a Creative</h2>
          <h3>3D Visual Designer</h3>
          <p>To position myself as an integral part of an <br>
             organization where there are excellent opportunities <br>
             to apply my skills,talent,abilities and competencies<br> 
             so as to provide the best growth of the organization<br>
             and also for personal growth.
          </p>
          <h2 style=" margin-left: 28%; display: inline; font-family:'poppins',sans-serif;border-radius: 5px; border: 2px solid rgb(116, 108, 41);font-size: 100%;padding: 11px;color: aliceblue;margin-right: 20px;">
          <a style="text-decoration: none; color: rgb(196, 223, 247);" href="{% url 'download' %}" >DOWNLOAD CV</a></h2>
        </div >
        <img  src="{% static 'images/face.png' %}" alt="">
      </div>

    <div style="padding-top: 4%; color: rgb(148, 148, 148);">
      <div class="container">
        <div style="margin-bottom: 10%;"  class="row align-items-stretch justify-content-start card-deck">
         <div class="card" id="card">
           <div class="card-body">
            <div class="card-text">
              <h1 style="font-size: 140%;">EDUCATION HISTORY</h1> <br>
              <p style="font-size: 80%;">COMPUTER KNOWLEDGE <br><br>
                Cadd-Center : Autocadd <br>
                Revit,3D-max <br><br>
                Study : Ghss kunduparamba <br>
                2003-2013 calicut 
              </p>
            </div>
           </div>
         </div>
         <div class="card" id="card">
           <div class="card-body">
            <div class="card-text">
              <h1 style="font-size: 140%;">PERSONAL INFORMATION</h1><br>
              <p style="font-size: 80%;">Citizenship : India <br>
                sex : male <br>
                age : 24 <br>
                date of birth : 13/09/1998 <br>
                civil status : single <br>
                religion : hindu ,thiyya <br>
                languages known : english, <br>
                malayalam,tamil,hindi <br><br>
              </p><br>
            </div>
           </div>
         </div>
         <div class="card" id="card">
           <div class="card-body">
            <div class="card-text">
              <h1 style="font-size: 140%;">SKILLS & INTEREST</h1><br>
              <p style="font-size: 80%;">WORK,POWERPOINT,AND EXCEL <br>
                powerful oral communication <br>
                ability to work minimal supervision <br>
                proficient in photography <br>
              </p>
            </div>
           </div>
         </div>
         <div class="card" id="card">
          <div class="card-body">
           <div class="card-text">
             <h1 style="font-size: 140%;">CHARACTER REFERENCE</h1><br>
             <p style="font-size: 80%;">Available upon request
             </p><br>
           </div>
          </div>
        </div>
      </div>
     </div>


        <footer  class="text-center text-white" style="background-color: #000000;">
        <!-- Grid container -->
        <div style="padding: 3%;" class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href=""
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href=""
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com/_athulchakroth_/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href=""
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href=""
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        
        <!-- Copyright -->
      </footer>
  </div>
      
   
  </body>
</html>